<h2>Hello, PO!</h2>
<p>Welcome to your <strong>Promotion Test</strong> single-page application.</p>
<p>You can find a prototype clicking on the Promotion Test link in the upper right corner. Follow the steps below to test:</p>
<ol>
  <li>Make sure the backend service (API) is running.</li>
  <li>Add products to the Shopping Cart clicking the "+" button.</li>
  <li>Add or remove products from the Shopping Cart clicking the "+" or "-" button.</li>
  <li>Check that promotions are applied correctly.</li>
  <li>Check that the Total Price is correct.</li>
</ol>
<p>Any questions or more information, please feel free to contact me.</p>
<p>
  Cheers!<br/>
  <i>
    Lucas Secchin Sampaio<br />
    ;p
  </i>
</p>

